.grooms{
	width: 100%;
	height: 240px;
	/* background-color: gold; */
	position: relative;
	padding-left: 110px;
}
.grooms .groom_goods{
	width: 15.5%;
	height: 240px;
	/* background-color: hotpink; */
	/*border: 1px solid black;*/
}
.grooms .two{
	position: absolute;
	top: 0;
	left: 22.01%;
}
.grooms .three{
	position: absolute;
	top: 0;
	left: 37.65%;
}
.grooms .four{
	position: absolute;
	top: 0;
	left: 53.28%;
}
.grooms .five{
	position: absolute;
	top: 0;
	left: 68.85%;
}
.grooms .groom_goods .goods_img{
	width: 227px;
	height: 240px;
}
